@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Yekan';
  src: url('./assets/fonts/YekanRegular.woff');
}

@font-face {
  font-family: 'Bold';
  src: url('./assets/fonts/YekanBold.woff');
}

@font-face {
  font-family: 'ExtraBold';
  src: url('./assets/fonts/YekanExtraBold.woff');
}

@font-face {
  font-family: 'ExtraBlack';
  src: url('./assets/fonts/YekanExtraBlack.woff');
}



:root {
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}